<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>About Us</h1>
    <div>
        <form action="/submit-form" method="POST">
            <input type="text" name="username" placeholder="Enter your name">
            <button type="submit">Submit</button>
        </form>        
    </div><br>
    <div>
        <img src="../images/node.png"><br>
        <form action="/download-image" method="get">
            <button type="submit">Download Image</button>
        </form>
        </div>
</body>
</html>
