<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a href="/about">About</a>
    </nav><br>

    <h1>NodeJS-Express Page</h1>
</body>
</html>
